.container {
    text-align: center;
    padding-top: 10px;
    margin: auto;
    height: 400px; 
}

.label {
    padding: 10px 10px;
}

.textarea {
    padding: 5px;
}

.look {
    border: 2px solid palegoldenrod;
    margin: 2px;
}